
{% extends "layout.html" %}
{% block body %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script>
        function play() {
          var audio = document.getElementById("audio");
          audio.play();
        }
      </script>
      <audio id="audio" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>

    <table dir="rtl">
        <tr>
            <td id="alef" onclick="play()"><button>א</button></td>
            <td id="alef" onclick="play()"><button>ב</button></td>
            <td id="alef" onclick="play()"><button>ג</button></td>
            <td id="alef" onclick="play()"><button>ד</button></td>
            <td id="alef" onclick="play()"><button>ה</button></td>
            <td id="alef" onclick="play()"><button>ו</button></td>
        </tr>
        <tr>
            <td id="alef" onclick="play()"><button>ז</button></td>
            <td id="alef" onclick="play()"><button>ח</button></td>
            <td id="alef" onclick="play()"><button>ט</button></td>
            <td id="alef" onclick="play()"><button>י</button></td>
            <td id="alef" onclick="play()"><button>כ</button></td>
            <td id="alef" onclick="play()"><button>ל</button></td>
        </tr>
        <tr>
            <td id="alef" onclick="play()"><button>מ</button></td>
            <td id="alef" onclick="play()"><button>ם</button></td>
            <td id="alef" onclick="play()"><button>נ</button></td>
            <td id="alef" onclick="play()"><button>ן</button></td>
            <td id="alef" onclick="play()"><button>כ</button></td>
            <td id="alef" onclick="play()"><button>ך</button></td>
        </tr>
        <tr>
            <td id="alef" onclick="play()"><button>ל</button></td>
            <td id="alef" onclick="play()"><button>מ</button></td>
            <td id="alef" onclick="play()"><button>ם</button></td>
            <td id="alef" onclick="play()"><button>נ</button></td>
            <td id="alef" onclick="play()"><button>ן</button></td>
            <td id="alef" onclick="play()"><button>ס</button></td>
        </tr>
        <tr>
            <td id="alef" onclick="play()"><button>ע</button></td>
            <td id="alef" onclick="play()"><button>פ</button></td>
            <td id="alef" onclick="play()"><button>ף</button></td>
            <td id="alef" onclick="play()"><button>צ</button></td>
            <td id="alef" onclick="play()"><button>ץ</button></td>
            <td id="alef" onclick="play()"><button>ק</button></td>
       </tr>
        <tr>
            <td id="alef" onclick="play()"><button>ר</button></td>
            <td id="alef" onclick="play()"><button>ש</button></td>
            <td id="alef" onclick="play()"><button>ש</button></td>
            <td id="alef" onclick="play()"><button>ת</button></td>
            <td id="alef" onclick="play()"><button>ת</button></td>
       </tr>
    </table>
{% endblock %}
