
{% extends "layout.html" %}
{% block body %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script>
        function play(a) {
          var audio = document.getElementById(a);
          audio.play();
        }
      </script>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="bet" src="{{ url_for('static', filename='sound/bet.mp4') }}"></audio>
      <audio id="gimel" src="{{ url_for('static', filename='sound/gimel.mp4') }}"></audio>
      <audio id="daled" src="{{ url_for('static', filename='sound/daled.mp4') }}"></audio>
      <audio id="hey" src="{{ url_for('static', filename='sound/hey.mp4') }}"></audio>
      <audio id="vav" src="{{ url_for('static', filename='sound/vav.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>
      <audio id="alef" src="{{ url_for('static', filename='sound/alef.mp4') }}"></audio>

    <table dir="rtl">
        <tr>
            <td id="alef" onclick="play('alef')"><button class="LettersBTN">א</button></td>
            <td id="bet" onclick="play('bet')"><button class="LettersBTN">ב</button></td>
            <td id="gimel" onclick="play('gimel')"><button class="LettersBTN">ג</button></td>
            <td id="daled" onclick="play('daled')"><button class="LettersBTN">ד</button></td>
            <td id="hey" onclick="play('hey')"><button class="LettersBTN">ה</button></td>
            <td id="vav" onclick="play('vav')"><button class="LettersBTN">ו</button></td>
        </tr>
        <tr>
            <td id="zain" onclick="play('')"><button class="LettersBTN">ז</button></td>
            <td id="chet" onclick="play('')"><button class="LettersBTN">ח</button></td>
            <td id="tet" onclick="play('')"><button class="LettersBTN">ט</button></td>
            <td id="yud" onclick="play('')"><button class="LettersBTN">י</button></td>
            <td id="kaf" onclick="play('')"><button class="LettersBTN">כ</button></td>
            <td id="chaf-sofit" onclick="play('')"><button class="LettersBTN">ך</button></td>
        </tr>
        <tr> 
            <td id="lamed" onclick="play('')"><button class="LettersBTN">ל</button></td>
            <td id="mem" onclick="play('')"><button class="LettersBTN">מ</button></td>
            <td id="mem-sofit" onclick="play('')"><button class="LettersBTN">ם</button></td>
            <td id="nun" onclick="play('')"><button class="LettersBTN">נ</button></td>
            <td id="nun-sofit" onclick="play('')"><button class="LettersBTN">ן</button></td>
            <td id="samech" onclick="play('')"><button class="LettersBTN">ס</button></td>
        </tr>
        <tr> 
            <td id="ain" onclick="play('')"><button class="LettersBTN">ע</button></td>
            <td id="pey" onclick="play('')"><button class="LettersBTN">פ</button></td>
            <td id="fey-sofit" onclick="play('')"><button class="LettersBTN">ף</button></td>
            <td id="tzadik" onclick="play('')"><button class="LettersBTN">צ</button></td>
            <td id="tzadik-sofit" onclick="play('')"><button class="LettersBTN">ץ</button></td>
            <td id="kuf" onclick="play('')"><button class="LettersBTN">ק</button></td>
       </tr>
        <tr>
            <td id="resh" onclick="play('')"><button class="LettersBTN">ר</button></td>
            <td id="shin" onclick="play('')"><button class="LettersBTN">ש</button></td>
            <td id="shin" onclick="play('')"><button class="LettersBTN">ש</button></td>
            <td id="taf" onclick="play('')"><button class="LettersBTN">ת</button></td>
            <td id="taf" onclick="play('')"><button class="LettersBTN">ת</button></td>
       </tr>
    </table>
{% endblock %}
